<section class="relative my-4 w-full lg:my-12 bg-black">
  <div class="wrapper-mobile-fullwidth">
    <iframe class="w-full" height="700px" src="https://www.youtube.com/embed/HEhPaioArGU?autoplay=1" frameborder="0" allow="autoplay" allowfullscreen></iframe>
    <div class="absolute bottom-0 left-0 right-0 text-center pb-14">
    </div>
  </div>
</section>
